*, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    font-family: Poppins;
    background-color: #ffe8d7;
    color: #211C19;
}
.anaTasiyici{
    float:left;
    width:1550px;
    padding:10px 70px;
}
.kutu {
    color: #211C19;
    width: 740px;
    height: 390px;
    -webkit-box-shadow: 0px 9px 19px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 9px 19px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 9px 19px -6px rgba(0,0,0,0.75);
    /* background-color: #fef3ea;*/
    background-color: #fff0e5;
    border-radius: 10px;
    margin-top: 35px;
}
.sol {
    float: left;
}
.sag {
    float: right;  
}
.kutuBaslik {
    text-align: center;
    font-size: 18pt;
    font-weight: 500;
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}
.etiketSatir{
    margin:20px 200px;
}
.etiketBaslik{
    text-align:center;
    font-size:16pt;
    font-weight:400;
}
.ekleButon {
    text-decoration: none;
    padding: 7px 30px;
    /*border: 1px solid #F56D21;*/
    color: white;
    border-radius:5px;
    background-color:#e58c5a;
}