*, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    font-family: Poppins;
    background-color: #ffe8d7;
}
.tbStyle{
    padding:10px 10px;
    border:1px solid silver;
    width:300px;
    border-radius:5px;
}
