.kutuYonetici {
    width: 700px;
    height: 800px;
}
.sol {
    float: left;
}
.sag {
    float: right;
}
.yoneticiSatir {
    margin: 15px 170px;
}
.basarisizPanel {
    text-align: center;
    margin-top: 40px;
}
.bilgi {
    padding: 10px 200px;
    border-radius: 5px;
    background-color: #b62c13;
}
.silinemezText {
    margin:10px 20px;
}
.fotoSol {
    float: left;
    width: 200px;
    margin-top:20px;
}
.fotoSag {
    float: right;
    width: 100px;
    padding-left:10px;
}
.profilFoto{
    width:90px;
    height:90px;
    margin-left:-20px;
}
.filtre {
    margin-left: 515px;
    margin-bottom:10px;
    margin-top:-10px;
    padding: 5px 10px;
    border: 1px solid silver;
    width: 150px;
    border-radius: 5px;
}

